.rdfaPreview{
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 300px;
    padding: 2%;
}

.rdfaEditor {
    min-height: 300px;
}

.save-button{
    text-align: right;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.add-relationship-row{
    margin-top: 5%;
}