<div class="container">

  <div class="row" style="margin-bottom: 5%;">
   <div class="form-group col-lg-5">
      <label>AuthToken:</label>
      <input class="form-control" [(ngModel)]="token">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-6">
      <label for="patternName">Name:</label>
      <input class="form-control" id="patternName" [(ngModel)]="patternName">
      
      <label for="comment">Pattern:</label>
      <textarea class="form-control" rows="5" id="comment" [(ngModel)]="patternContent"></textarea>
      
      <button type="button" class="btn btn-default" (click)="greenTurtle()">save</button>
      
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <!-- <iframe id= "preview" sandbox="allow-same-origin"></iframe> -->
      <div id="preview" vocab="http://xmlns.com/foaf/0.1/">
        <div resource="#manu" typeof="Person">
          Hey my name is 
          <span property="name">Alex</span>
          
          <div> Here are some informations abbout me:</div>
          <br>
          Job: <span property="jobTitle">Artist</span>
          <div>
           Phone: <span property="telephone">(540) 961-4469</span>
         </div>
         
           <div> This is a list of people that i know: </div>
        
          <ul>
            <li> <a property="knows" href="index.html">Manu </a> </li> 
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>