<div class="container-fluid">
  <div class="row">
    <div class="form-group  col-md-offset-3 col-lg-4 col-md-4">
      <label for="patternName">Filename:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="patternName" [(ngModel)]="instance.fileName">
        <span class="input-group-addon">.rdf</span>
      </div>
    </div>
    <div class="form-group  col-lg-4 col-md-4">
      <label>Name of Pattern</label>
      <input class="form-control" [(ngModel)]="instance.patternName">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Pattern type</div>
        <div class="panel-body">
          <tree-root #tree [nodes]="nodes" [options]="options" (activate)="nodeClickEvent($event.node.data.jowlNode)"></tree-root>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-10">
              Create Pattern of Type {{selectedNode.label}}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div *ngFor="let property of instance?.dataTypeProperties">
            <markdown (click)=" isEditMode = property['?p'].URI;" *ngIf="isEditMode != property['?p'].URI">
              {{property.content}}
            </markdown>
            <simplemde *ngIf="isEditMode === property['?p'].URI" [(ngModel)]="property.content"></simplemde>
          </div>
          <div class="row">
            <div *ngFor="let relationship of instance?.relationships">
                <ng-template #tipContent>Hello!</ng-template>
                <a [ngbTooltip]="tipContent"> {{relationship.prdType.name}} </a> relationship to {{relationship.linkedPattern.value}}
                <button type="button" class="btn btn-outline-secondary" [ngbTooltip]="tipContent">
                    I've got markup and bindings in my tooltip!
                  </button>
            </div>
         </div>
          <div class="row add-relationship-row">
              <div class="col-lg-offset-10 col-lg-2">
                  <button type="button" class="btn btn-info btn-circle btn-xl" (click)="openModalAddRelationship()"><i aria-hidden="true" class="fas fa-plus"></i></button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-offset-9 col-lg-2 save-button">
          <button type="button" class="btn btn-lg btn-default" (click)="onSaveClick()"  ngbTooltip="Tooltip on top">save</button>
    </div>
  </div>
  
</div>