<div class="container-fluid">
    <h3>Create Instance of {{selectedClass?.name}}</h3>


    <div class="row" *ngFor="let property of instance.dataTypeProperties">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                        <label>{{property.name}}</label>
                        <textarea class="form-control" rows="5" id="comment" [(ngModel)]="property.value"></textarea>
                </div>
        </div>

        <!-- <div class="col-lg-1">
            <button type="button" class="close" aria-label="Close" (click)="deleteProperty(property)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
   </div>

   
   <div class="row">
        <p class="col-lg-4" style="white-space: pre">
                {{instanceAsRdfa}}
        </p>
   </div>
   



    <button type="button" class="btn btn-default" (click)="openModal()">add ObjectProperty</button>
    <button type="button" class="btn btn-default" (click)="saveInstance()">save</button>
</div>