<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">TreeView</div>
                <div class="panel-body">
                    <tree-root [nodes]="nodes" [options]="options"></tree-root>
                </div>
              </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Description of </div>
                <div class="panel-body">
                    
                </div>
              </div>
        </div>
    </div>
</div>


