<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">Individuals</div>
        <div class="panel-body">
          <ul>
            <li *ngFor="let individual of individuals" (click)="onIndividualSelected(individual)"><a class="individual">{{individual.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="panel panel-default" *ngIf="selectedIndividual; else selectIndivdual">
        <div class="panel-heading">Description of {{selectedIndividual?.name}}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 description-label">
                  owl:Class:
                </div>
                <div class="col-lg-10">
                  {{selectedIndividual?.Class}}
                </div>
              </div>
          <div class="row" *ngFor="let property of selectedIndividual?.dataTypeProperties">
            <markdown class="col-lg-12" (click)="onEdit(property)" *ngIf="isEditMode != property['?p'].URI">
                   {{property["?t"]}}
            </markdown>
            <simplemde  *ngIf="isEditMode === property['?p'].URI" [(ngModel)]="property['?t']"></simplemde>
          </div>
          <div class="row">
            <div class="col-lg-2 description-label">
              ObjectProperties:
            </div>
            <ul class="col-lg-10">
                <li *ngFor="let property of selectedIndividual?.objectProperties">{{property["?p"].name}}: <a (click)="onIndividualSelected(property['?t'])">{{property["?t"].name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <ng-template #selectIndivdual>Please select an Individual.</ng-template>
    </div>
  </div>
  
 <button type="button" class="btn btn-default" (click)="create()">button</button>
  
</div>