<div class="container-fluid">
  <textarea rows="10" cols="50" [(ngModel)]="query"></textarea>
  <button class="btn btn-default" (click)="sendQuery()">Send</button>
  
  <div class="row table-header" *ngIf="queryResult">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      subject
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      predicate
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      object
    </div>
  </div>
  
  <div class="row table-row" *ngFor="let triple of queryResult">
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      {{triple.s}}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      {{triple.p}}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      {{triple.o}}
    </div>
    
  </div>

</div>
